
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

button {
    font-weight: bolder;
    text-decoration: none;
    background-color: rgb(157, 85, 225);
    color: white;
    border:none;
    padding: 15px;
    margin:10px 5px;
    border-radius: 15px;
}
h1,h2,h3,h4, div {
    font-family: Raleway;
}

h1{
    font-size: 32px;
}

.shorten {
    margin:0px auto -50px auto;
}

.taller{height: 330px !important; margin-bottom: 0px;}

button:hover {
    background-color: blueviolet;
}


#head {
    width: 100% ;
    background: radial-gradient(ellipse 100% 100% at 20% 0,rgb(211, 190, 232) 100%, white 100%);
    padding: 0px 0px 100px 0px;
    margin-top:0px;
}

.bodySection {
    width:100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

.bodySection> div {
    position: relative;
        width: 46%;
        margin:2%
    }

    .outerCutout1, .outerCutout2{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            background-color: white;
    }

    .outerCutout1 {
        -webkit-clip-path: polygon(0% 0%, 25% 0%, 0% 40%, 0% 0%);
        clip-path: polygon(0% 0%, 25% 0%, 0% 40%, 0% 0%);
    }

    
    .outerCutout2 {
        -webkit-clip-path: polygon(100% 100%, 75% 100%, 100% 60%, 100% 100%);
        clip-path: polygon(100% 100%, 75% 100%, 100% 60%, 100% 100%);
    }

.topImg {
    width: 100%;
    height: 90%;
    margin: 15% auto 10%;
    background-repeat: no-repeat;
    background-size: 107% 90%;
    border-bottom: 15px solid black;
    border-radius: 0px 0px 25px 25px;
}

#first {
    background-image: url("../../images/topImg.png");
}

#second {
    background-image: url("../../images/phone1.png");
    background-position: center;
}
#third {
    background-image: url("../../images/phone2.png");
}
#fourth {
    background-image: url("../../images/phone3.png");
}
#fifth {
    background-image: url("../../images/phone4.png");
}
#sixth {
    background-image: url("../../images/phone5.png");
}

#seventh {
    background-image: url("../../images/phone6.png");
}

#eighth {
    background-image: url("../../images/laptopImg.png");
    position: absolute;
    z-index: 10;
    border: none;
    top:-10%;
    left:15%;
    width: 70%;
    height: 70%;
}


#borderDesign{
    position: relative;
    height: 150%;
    width: 220px;
    border-radius: 30px;
    border:6px solid black;
    background-color: white;
    box-shadow: black 0 4px 20px -2px;;
}

#topNotch{
    position: absolute;
    width: 90px;
    height: 12px;
    top: 0%;
    left:65px;
    background-color: black;
    border-radius: 0px 0px 10px 10px;

}
#rightNotch {
    position: absolute;
    width: 7px;
    height: 60px;
    top: 20%;
    left:100%;
    background-color: black;
    border-radius: 0px 10px 10px 0px;
}

#overlay {
    height: 300px; 
}

.tech{
    width:fit-content !important;
    color: black;
    border: 2px solid blueviolet;
    border-radius: 10px;
    padding:10px;
    vertical-align: center;
    font-weight: bold;
}

.tech>* {
    margin: auto 5px;
    color:blueviolet
}


.backNum {
    position: absolute !important;
    color: lightgrey ;
    top:-50%;
    font-size: 275px;
    z-index: -5;
    font-weight: bolder;
}