.footer{
    position: absolute;
    width: 100% !important;
float:0px;
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.fLists{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.fList{
    list-style: none;
    padding:0;

}
.fListItem{
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}