/*GENERAL INFO*/
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Orbitron&family=Paytone+One&display=swap');

:root {
  --main-color:blueviolet;
  --shadow:rgba(100, 100, 111, 0.2);
  --main-color-light: rgb(215, 173, 255);
}

html {
  font-family:Helvetica;
}

*:focus {
  outline: none;
}

/*HEADER*/
header {
  width: 100%;
  min-height: 100px;
  box-shadow: var(--shadow) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-between;
  vertical-align: center;
}
header>* {
  margin: auto 20px;
}

a {
  text-decoration: none;
  margin:auto 10px;
  padding: 5px;
  border-radius: 5px;
}

a:hover {
  box-shadow: var(--shadow)  0 4px 2px -2px;
}

#logo {
  color: var(--main-color);
  font-family: "Paytone One";

}

/*LOGIN BUTTON*/
#login {
  vertical-align: center;
  width: 80px;
  height: 40px;
  text-decoration: none;
  color:white;
  background-color: var(--main-color);
  border-radius: 10px;
  padding:0px 0px 1px 0px;
  border: 2px solid white;
  margin:auto 10px auto 0px;
}

#login:hover {
  box-shadow: var(--shadow) 0 4px 2px -2px;
  color: var(--main-color);
  background-color: white;
}
